$background-color-main: linear-gradient(
  90deg,
  rgba(16, 13, 42, 1) 0%,
  rgba(47, 42, 100, 1) 50%,
  rgba(16, 13, 42, 1) 100%
);

$background-color-carts: rgba(255, 255, 255, 0.3);

$textColor: white;

$bigFontSize: 26px;
